#input-forget{
    align-content: center;
    text-align: center;
}

#h1-forget{
    font-family: 'Trebuchet MS';
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

#p-forget{
    font-family: 'Trebuchet MS';
    text-align: center;
    font-weight: bold;
    font-size: inherit;
    display: block;
    color: #58a2bb;
}